// This is a Pug template for a footer component     
        
footer(class="bg-[#231942] text-white flex flex-col items-center gap-4 m-12 p-6 rounded-lg")
  p(class="text-lg font-medium") &copy;2025 The Post Society. Tous droits réservés. By Akelpha
  ul(class="flex gap-4")
    li
      a(href="https://github.com/Akelpha", target="_blank", rel="noopener noreferrer")
        svg(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
            g fill="#000" fill-rule="evenodd" clip-rule="evenodd"
              path
                d="M24 4C12.954 4 4 12.954 4 24s8.954 20 20 20s20-8.954 20-20S35.046 4 24 4M0 24C0 10.745 10.745 0 24 0s24 10.745 24 24s-10.745 24-24 24S0 37.255 0 24"
              )

    li
      a(href="https://www.linkedin.com/in/keren-nzira/", target="_blank", rel="noopener noreferrer")
        svg(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"
            path
              fill="#000" 
              d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2M8.09 18.74h-3v-9h3ZM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12m12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06Z")

    li
      a(href="#", target="_blank", rel="noopener noreferrer")
        svg(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32"
            path
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2.8"
              d="M29 17v11H3V17M2 8h28v8s-6 4-14 4s-14-4-14-4zm14 14v-4m4-10s0-4-4-4s-4 4-4 4")
