extends layout

block content

  if posts.length > 0
    each post in posts
      a(href=`/posts/${post.id}`)= post.title
      p= post.author.name 
      p= post.createdAt.toLocaleDateString()
      if post.imageUrl
        div
          img(src=post.imageUrl, alt="image")
      div
        a(href=`/feed/${post.id}/edit`) Modify
        form(action=`/feed/${post.id}?_method=DELETE`, method="POST")
          input(type="hidden", name="_csrf", value=csrfToken)
          button(type="submit", onclick="return confirm('Are you sure?')") Delete
  else
    div(class="relative group h-[500px] p-4")
      img(src="/images/media.svg", alt="Blog", class="w-full h-full")
      a(
        href="/posts/create", 
        class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-white bg-dark bg-opacity-70 text-sm px-3 py-2 rounded opacity-0 group-hover:opacity-100 transition"
      ) Create a post
    p(class="text-center") No posts